 * {
    box-sizing: border-box;

} 


.affichagelogo{
    margin:0 auto;
    margin-bottom: 10px;
    font-family:'Roboto';
    font-weight: 700;
    font-style: italic;

    font-size: 2.6rem;
    color: white;
    padding: 20px;
    border: solid rgb(26, 42, 104) 5px;
    background-color: rgb(28, 63, 155);
    box-shadow: 3px 8px 23px 3px rgb(59, 50, 6) inset;

    width: 353px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
}

#masterMind { 
    width: 500px;
    height: 770px;
    border-radius: 25px 25px 25px 25px ;
    background-color: rgb(28, 63, 155);
    box-shadow: 0px -8px 15px 7px rgb(59, 50, 6) inset;
    box-shadow: black  6px px 5px 5px;

    padding-top: 20px;
    margin: 30px auto;

    /* position: relative; */

}

.containerAide{
    display: flex;
    justify-content: center;
}


/*------------------------------------------------
            LIGNE D'ESSAIS
------------------------------------------------*/

.bloc {
    width: 100%;
    border-radius: 15px 15px 15px 15px ;
    border: hsl(160, 100%, 75%, 0.3) solid 1px;
    background-color: rgb(49, 98, 181);
    /* background: linear-gradient(90deg, rgba(40,63,105,1) 2%, rgba(140,140,201,1) 91%); */


    margin-top: 20px;
    margin: 14px auto;

    display: flex;
    justify-content: space-between;
}

.bloc:nth-child(1) {
    margin-top: 10px;

}

.selectionBouton1, .selectionBouton2, .selectionBouton3, .selectionBouton4 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(33, 53, 88);
    border: solid hsl(160, 100%, 75%, 0.3) 1px;
    box-shadow: 2px -3px 7px 3px rgb(24, 32, 73) inset;

    margin-top: 2px;
    margin-bottom: 2px;
}

.selectionBouton2, .selectionBouton3, .selectionBouton4 {
    margin-left: 10px;

}

.selectionBouton1 {
    margin-left: 12px;

}



/*------------------------------------------------
            PIONS DE COULEURS D'AIDE
------------------------------------------------*/

.info {
    width: 59px;
    height: 44px;
    border-radius: 0 15px 15px 0;
    border-left: hsl(160, 100%, 75%, 0.3) solid 1px;
    background-color: rgb(80, 109, 158);
    
    /* margin-left: 286px; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* position: absolute; */

}

.pion1, .pion2, .pion3, .pion4 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(26, 29, 48);

    margin-top: 3px;
    margin-right: 6px;
    margin-bottom: 3px;

}



/*------------------------------------------------
            ALL BOUTTONS UTILISATEUR
------------------------------------------------*/

.blocUtilisateur {
    width: 100%;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;


    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#buttonUtilisateur {
    width: 89%;
    /* height: 72px; */
    margin-bottom: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.containerUtilisateur{
    margin: 0 auto;
    width: 78%;
    /* background-color: rgb(102, 148, 212); */
    display: flex;
    flex-wrap: wrap;
}

#valide, #clear, #reset {

    width: 104px;
    height: 27px;
    border: black 1px solid;
    background-color: rgb(247, 247, 247);
    /* box-shadow: 0px 0px 5px 5px rgba(95, 88, 88, 0.5) inset; */
    cursor: pointer;
    
    margin-top: -4%;
    /* position: absolute; */

    font-family: fantasy;
    text-align: center; 
    line-height: 325x;
    border-radius: 23px;
    position:absolute;
    z-index: 5;
}
.containerAbsolute{
    margin-top: 4%;
    width: 104px;
    height: 27px;
    background-color: #c1f482;
    border-radius: 23px;
    /* top: 718px; */
    position: relative;
}
.containerAbsolute2{
    margin-top: 4%;
    z-index: 4;
    width: 104px;
    height: 27px;
    background-color: #ebe370;
    position: relative;
    border-radius: 23px;
    /* top: 4px */
    /* left: 417px; */
}

.containerAbsolute3{
    margin-top: 4%;
    position: relative;
    width: 104px;
    height: 27px;
    background-color: #d14540;
    border-radius: 23px;
    /* top: 718px;
    left: 538px; */
}

#valide:hover{
    border: 1px solid rgb(128, 230, 26);
}
#valide:active{
    box-shadow: 0px 5px 5px 5px rgba(95, 88, 88, 0.5) inset;
    color: rgb(89, 139, 39);
    font-size: 0.85rem;
    transform: translateY(5px);
    transition: 0.05s ease-in;
}

#clear:active{
    box-shadow: 0px 5px 5px 5px rgba(95, 88, 88, 0.5) inset;
    color: rgb(212, 138, 1);
    font-size: 0.85rem;
    transform: translateY(5px);
    transition: 0.05s ease-in;
}
#clear:hover{
    border: solid 1px rgb(252, 190, 75);
}

#reset:active{
    box-shadow: 0px 5px 5px 5px rgba(95, 88, 88, 0.5) inset;
    color: rgb(209, 26, 20);
    font-size: 0.85rem;
    transform: translateY(5px);
    transition: 0.05s ease-in;
}

#reset:hover{
    border: 1px solid red;
}
/* 
#valide {
    border-radius: 15px 0px 0px 15px ;

    margin-top: -40px;
    margin-left: 370px;
    
} */

/* #clear {
    border-radius: 0px 15px 15px 0px ;

    margin-left: 420px;
    margin-top: -40px;

} */

/* #reset {
    background-color: rgb(194, 189, 189);
    
    line-height: 30px;
} */


#blue, #yellow, #green, #red, #pink, #orange {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    margin-top: 14px;
    margin-left: 7px;
        
}

#pink{
    background-color: rgb(227, 166, 212); 
    cursor: pointer; 
    border: solid hsl(160, 100%, 75%, 0.3) 1px;
    box-shadow: 2px -3px 7px 3px rgb(136, 66, 125) inset;
}

#orange{
    background-color: rgb(223, 156, 107); 
    cursor: pointer; 
    border: solid hsl(160, 100%, 75%, 0.3) 1px;
    box-shadow: 2px -3px 7px 3px rgb(132, 86, 37) inset;
}

#orange:active{
    border: solid rgba(255, 242, 128, 0.3) 2px;
    box-shadow: 0px 0px 7px 7px rgb(132, 86, 37) inset;
}

#pink:active{
    border: solid rgba(255, 242, 128, 0.3) 2px;
    box-shadow: 0px 0px 7px 7px rgb(136, 66, 125) inset;
}

#blue:active{
    border: solid rgba(255, 242, 128, 0.3) 2px;
    box-shadow: 0px 0px 7px 7px rgb(66, 79, 145) inset;
}

#yellow:active{
    border: solid hsl(160, 100%, 75%, 0.3) 2px;
    box-shadow: 0px 0px 7px 7px rgb(123, 108, 41) inset;
}

#green:active{
    border: solid hsl(160, 100%, 75%, 0.3) 2px;
    box-shadow: 0px 0px 7px 7px rgb(59, 112, 62) inset;
}

#red:active{
    border: solid hsl(160, 100%, 75%, 0.3) 2px;
    box-shadow: 0px 0px 7px 7px rgb(122, 35, 35) inset;
}
#blue{
    background-color: rgb(135, 176, 234); 
    cursor: pointer; 
    border: solid hsl(160, 100%, 75%, 0.3) 1px;
    box-shadow: 2px -3px 7px 3px rgb(66, 79, 145) inset;
}

#yellow{
    cursor: pointer;   
    background-color: rgb(255, 246, 162);
    border: solid hsl(160, 100%, 75%, 0.3) 1px;
    box-shadow: 2px -3px 7px 3px rgb(123, 108, 41) inset;
}

#green{
    cursor: pointer;   
    background-color: rgb(154, 210, 123);
    border: solid hsl(160, 100%, 75%, 0.3) 1px;
    box-shadow: 2px -3px 7px 3px rgb(59, 112, 62) inset;
}

#red{
    cursor: pointer;   
    background-color: #db6060;  
    border: solid hsl(160, 100%, 75%, 0.3) 1px;
    box-shadow: 2px -3px 7px 3px rgb(122, 35, 35) inset;
}

#red:hover, #green:hover, #blue:hover, #yellow:hover, #pink:hover, #orange:hover{
    border: solid white 1px;
}

.aideAllumage{
    /* width: 200px;
    height: 100px;
    margin: 0 auto;
    background-color: red; */
    position: relative;
    display: flex;
    justify-content: center;
}

.containerAideAllumage{
    /* top: 45px; */
    /* right: 53%; */
    width: 100%;
    height: 100px;
    margin: 0 auto;
    /* background-color: rgb(143, 36, 36); */
    text-align: center;
    color: white;
    font-size: 0.9rem;
    font-family: 'Roboto';    
    /* background-color: #ff4800; */

    top: 51px;
    left: 0px;

    position: absolute;
    z-index: 3;
    /* padding: 10px; */
    /* padding-left: 30px; */
}

/* .triangleRelative{
    z-index: 3;
    position: absolute;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 100px solid white;
    border-right : 141px solid transparent;
    left: 47%;
    top:45px

   } */
/*------------------------------------------------
                 BOUTON ALLUMAGE
------------------------------------------------*/
.aideAllumage{
    display: none;
}

.affichageAllumage{
    margin: 0 auto;
    width: 69%;
    height: 15px;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

#allumage{
    width: 60px;
    height: 12px;
    background-color: rgb(188, 253, 122);
    border-radius: 6px;
    border: solid 2px rgb(15, 49, 5);
    cursor: pointer;

}
#allumage:active{
    box-shadow: 0px 0px 1px 1px rgb(27, 105, 34) inset;
    
}
.affichageOn{
    margin: 0 auto;
    width: 69%;
    display: flex;
    justify-content: end;
    font-family: Arial, Helvetica, sans-serif;
}

/*------------------------------------------------
        ARDOISE MESSAGE D'AIDE + DIFFICULTé
------------------------------------------------*/

.affichageAide {
    width: 250px;
    height: 100px;
    /* background-color: rgb(49, 49, 49); */
    /* border-top: 4mm ridge rgba(177, 121, 0, 0.6);
    border-left: 4mm ridge rgba(177, 121, 0, 0.6);
    border-right: 4mm ridge rgba(177, 121, 0, 0.6); */
    
    top: 56px;
    padding: 20px;
   
    display: none;
    position: absolute;
    z-index: 1;

    font-family: "Roboto";
    font-weight: 300;
    font-size: 0.9rem;
    text-align: center;
    color: white;
    line-height: 1;
         
}

.dificult {
    width: 250px;
    height: 150px;
    color: white;

    top: 64px;
    /* left: 780px; */
    /* padding: 20px; */

    display: inline-block;
    position: absolute;

    font-family: 'Roboto';
    font-weight: 700;
    text-align: center;
    line-height: 1.8;
    
}

#level {
    display: flex;
    justify-content: space-between;
    
}

#normal {
    color: white;
    padding: 5px;

  
}

#difficile {
    color: white;
    padding: 5px;


}

#extreme {
    color: white;
    padding: 5px;
}


#normal:hover, #difficile:hover, #extreme:hover{
    background-color: white;
    color: blue;
    cursor: pointer;
}

.containerLignes{
    height: 425px;
    overflow: auto;
    width: 69%;
    margin: 0 auto;
}

.containerDificult{
    display: flex;
    justify-content: center;
}